In [2]:
import pandas as pd

In [8]:
binary_df = pd.read_csv('./Project_data/binary_outcome_df.csv')
multi_outcomes_df = pd.read_csv('./Project_data/multi_outcome_df.csv')
stonks_df = pd.read_csv('./Project_data/Main_DF_Complete.csv')

In [9]:
stonks_df.head()

,Unnamed: 0,Date,MRNA_Open,MRNA_Close,MRNA_Difference,MRNA_Volume,JNJ_Open,JNJ_Close,JNJ_Difference,JNJ_Volume,...,what is ivermectin,what is mrna,bill gates population control,ubereats,instacart jobs,gig economy,stimmy,trump,biden,china
0,0,2019-12-02,20.30,19.76,0.54,1184000,137.72,137.36,0.36,4717100,...,1,21,0,43,9,9,0,6,1,22
1,1,2019-12-03,19.48,21.28,-1.80,1795200,136.91,137.16,-0.25,5741400,...,0,30,0,51,11,10,0,7,1,23
2,2,2019-12-04,21.00,21.27,-0.27,1980100,138.50,139.38,-0.88,7257300,...,1,23,0,53,11,10,0,10,1,24
3,3,2019-12-05,21.49,20.64,0.85,1478100,139.35,139.56,-0.21,5472900,...,0,43,5,46,10,7,0,11,2,23
4,4,2019-12-06,20.78,18.94,1.84,3537200,139.46,140.38,-0.92,6640400,...,1,22,0,43,10,13,0,9,2,25

In [10]:
stonks_df = stonks_df.rename(columns={'Date':'Search Date'})
stonks_df = stonks_df.drop(columns={'Unnamed: 0'})
stonks_df.head()

,Search Date,MRNA_Open,MRNA_Close,MRNA_Difference,MRNA_Volume,JNJ_Open,JNJ_Close,JNJ_Difference,JNJ_Volume,BTNX_Open,...,what is ivermectin,what is mrna,bill gates population control,ubereats,instacart jobs,gig economy,stimmy,trump,biden,china
0,2019-12-02,20.30,19.76,0.54,1184000,137.72,137.36,0.36,4717100,22.66,...,1,21,0,43,9,9,0,6,1,22
1,2019-12-03,19.48,21.28,-1.80,1795200,136.91,137.16,-0.25,5741400,22.05,...,0,30,0,51,11,10,0,7,1,23
2,2019-12-04,21.00,21.27,-0.27,1980100,138.50,139.38,-0.88,7257300,21.49,...,1,23,0,53,11,10,0,10,1,24
3,2019-12-05,21.49,20.64,0.85,1478100,139.35,139.56,-0.21,5472900,21.75,...,0,43,5,46,10,7,0,11,2,23
4,2019-12-06,20.78,18.94,1.84,3537200,139.46,140.38,-0.92,6640400,22.85,...,1,22,0,43,10,13,0,9,2,25

In [11]:
multi_full_stonks_df = pd.merge(multi_outcomes_df, stonks_df, on='Search Date', how='left')
multi_full_stonks_df = multi_full_stonks_df.drop(columns={'Unnamed: 0'})
multi_full_stonks_df = multi_full_stonks_df.drop(columns={'Date'})
multi_full_stonks_df.head()

,Multi_Class,Search Date,MRNA_Open,MRNA_Close,MRNA_Difference,MRNA_Volume,JNJ_Open,JNJ_Close,JNJ_Difference,JNJ_Volume,...,what is ivermectin,what is mrna,bill gates population control,ubereats,instacart jobs,gig economy,stimmy,trump,biden,china
0,1699-5000,2022-02-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1699-5000,2022-02-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,550-1698,2022-02-11,161.25,161.32,-0.07,5245700.0,169.12,167.71,1.41,13124800.0,...,18.0,44.0,0.0,55.0,18.0,4.0,0.0,2.0,4.0,26.0
3,0-549,2022-02-10,158.00,160.42,-2.42,5965400.0,171.21,169.42,1.79,10355300.0,...,20.0,34.0,11.0,45.0,8.0,2.0,0.0,2.0,5.0,28.0
4,0-549,2022-02-09,154.37,164.03,-9.66,5621600.0,172.07,171.49,0.58,5387500.0,...,21.0,44.0,5.0,33.0,17.0,3.0,0.0,2.0,7.0,27.0

In [12]:
multi_full_stonks_df.to_csv('final_multi_stonks_model_data.csv')

In [13]:
bi_full_stonks_df = pd.merge(binary_df, stonks_df, on='Search Date', how='left')
bi_full_stonks_df = bi_full_stonks_df.drop(columns={'Unnamed: 0'})
bi_full_stonks_df = bi_full_stonks_df.drop(columns={'Date'})
bi_full_stonks_df.head()

,Binary_Class,Search Date,MRNA_Open,MRNA_Close,MRNA_Difference,MRNA_Volume,JNJ_Open,JNJ_Close,JNJ_Difference,JNJ_Volume,...,what is ivermectin,what is mrna,bill gates population control,ubereats,instacart jobs,gig economy,stimmy,trump,biden,china
0,High,2022-02-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,High,2022-02-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Low,2022-02-11,161.25,161.32,-0.07,5245700.0,169.12,167.71,1.41,13124800.0,...,18.0,44.0,0.0,55.0,18.0,4.0,0.0,2.0,4.0,26.0
3,Low,2022-02-10,158.00,160.42,-2.42,5965400.0,171.21,169.42,1.79,10355300.0,...,20.0,34.0,11.0,45.0,8.0,2.0,0.0,2.0,5.0,28.0
4,Low,2022-02-09,154.37,164.03,-9.66,5621600.0,172.07,171.49,0.58,5387500.0,...,21.0,44.0,5.0,33.0,17.0,3.0,0.0,2.0,7.0,27.0

In [14]:
bi_full_stonks_df.to_csv('final_binary_stonks_model_data.csv')