In [1]:
import pandas as pd

In [22]:
vaccine_data = pd.read_csv("vaccine_data.csv")
hospital_data = pd.read_csv("hospital_utilization.csv")
flight_data = pd.read_csv("flight_data.csv")

dataPartial = pd.merge(vaccine_data, hospital_data, on="Date")
dataComplete = pd.merge(dataPartial, flight_data, on="Date")
dataComplete

,Date,Total Doses Administered,Daily Increase,Current Hospitalized COVID-19 Patients,Number of Flights
0,2/13/2022,548792878,144101,82055.86,162754
1,2/12/2022,548648777,327557,85521.43,182400
2,2/11/2022,548321220,582026,89003.00,199407
3,2/10/2022,547739194,473174,92676.86,197247
4,2/9/2022,547266020,478132,97626.00,194573
...,...,...,...,...,...
748,1/27/2020,0,0,0.00,176736
749,1/26/2020,0,0,0.00,164267
750,1/25/2020,0,0,0.00,162301
751,1/24/2020,0,0,0.00,189551
752,1/23/2020,0,0,0.00,189810