In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
df = pd.read_csv('../Model Data/multi_outcome_no_stock.csv')
df = df.drop(columns = ['Unnamed: 0','Unnamed: 0.1','Date'])
df.dropna(inplace=True)
df.sort_values(by='Search Date').head()

,Multi_Class,Search Date,alcoholism,anxiety,athleisure,cutting hair,depression,dry cough,eczema,fever,...,instacart jobs,gig economy,stimmy,trump,biden,china,Current Hospitalized COVID-19 Patients,Total Doses Administered,Daily Increase,Number of Flights
752,0-549,2020-01-23,43,79,33,20,84,19,76,40,...,20,13,0,10,1,62,0.0,0.0,0.0,158666.0
751,0-549,2020-01-24,52,78,42,22,75,16,72,38,...,14,14,0,10,1,75,0.0,0.0,0.0,179441.0
750,0-549,2020-01-25,39,69,14,33,56,19,84,42,...,23,4,0,10,1,76,0.0,0.0,0.0,170708.0
749,0-549,2020-01-26,38,69,41,23,55,16,61,39,...,21,12,0,9,1,67,0.0,0.0,0.0,174865.0
748,0-549,2020-01-27,48,82,22,24,80,18,60,40,...,19,6,0,10,1,65,0.0,0.0,0.0,171934.0

In [3]:
df.sort_values(by='Search Date').tail()

,Multi_Class,Search Date,alcoholism,anxiety,athleisure,cutting hair,depression,dry cough,eczema,fever,...,instacart jobs,gig economy,stimmy,trump,biden,china,Current Hospitalized COVID-19 Patients,Total Doses Administered,Daily Increase,Number of Flights
14,1699-5000,2022-01-30,39,75,100,35,52,14,81,38,...,15,3,0,3,2,25,132730.71,547266020.0,478132.0,194573.0
13,1699-5000,2022-01-31,42,90,45,25,72,14,71,38,...,14,2,0,2,2,24,129780.71,547739194.0,473174.0,197247.0
12,1699-5000,2022-02-01,43,88,17,23,70,14,80,32,...,17,1,0,2,2,25,126537.14,548321220.0,582026.0,199407.0
11,550-1698,2022-02-02,37,87,31,27,68,14,63,28,...,14,6,0,2,2,24,123137.57,548648777.0,327557.0,182400.0
10,550-1698,2022-02-03,42,83,28,30,75,15,59,26,...,21,9,0,2,2,25,119692.43,548792878.0,144101.0,162754.0

In [4]:
df.shape

(743, 76)

In [5]:
X = df.drop(columns=['Multi_Class','Search Date'])
y = df['Multi_Class']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
model = svm.SVC(decision_function_shape='ovo')
model.fit(X, y)
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Testing Data Score: 0.6236559139784946

In [7]:
X_train_scaled = StandardScaler().fit(X_train).transform(X_train)
X_test_scaled = StandardScaler().fit(X_test).transform(X_test)
model = svm.SVC(decision_function_shape='ovo')
model.fit(X_train_scaled, y_train)
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Testing Data Score: 0.8010752688172043

In [8]:
X_train_scaled = MinMaxScaler().fit(X_train).transform(X_train)
X_test_scaled = MinMaxScaler().fit(X_test).transform(X_test)
model = svm.SVC(decision_function_shape='ovo')
model.fit(X_train_scaled, y_train)
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Testing Data Score: 0.7688172043010753