In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('binary_outcome_df.csv')

In [7]:
df =  df.sort_values(by="Search Date")

In [8]:
df.head(100)

     Unnamed: 0        Date Binary_Class Search Date
753         753  2020-01-02          Low  2019-12-23
724         724  2020-01-03          Low  2019-12-24
693         693  2020-01-04          Low  2019-12-25
663         663  2020-01-05         High  2019-12-26
632         632  2020-01-06          Low  2019-12-27
..          ...         ...          ...         ...
675         675  2020-04-19         High  2020-04-09
674         674  2020-04-20         High  2020-04-10
673         673  2020-04-21         High  2020-04-11
672         672  2020-04-22         High  2020-04-12
671         671  2020-04-23         High  2020-04-13

[100 rows x 4 columns]